*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* responsiveness */


.calculator{
    background: #000;
    padding:20px;
    border-radius: 10px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(247, 116, 84);
    border-radius: 10px;
    flex-wrap: wrap; */


}


.calculator form input{
    border: 0;
    outline:0;
    width: 60px;
    height: 60px;
    /* align-items: center;
    justify-content: center; */
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
}

@media only screen and (max-width: 740px) {
    /* .calculator{
        width: 100vh;
        height: 100% ;

    } */
    .calculator form input{
        width: 40px;
        height: 40px;
        margin: 5px;
        cursor: pointer;
        font-size: 15px;
    }
    form .display{
        margin: 15px 0;
    }
    
}


form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}


form .display input {
    text-align: right;
    flex: 1;
    box-shadow: none;
}



/* form .display input{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    /* background-color: #3a16be; */
    /* color: #ffffff;
    text-align: right;
    flex: 1;
    box-shadow: none;
} */ 

form input.operator{
    color: white;
    background-color: #f12307;
}

.equal{
    justify-content: center;
    align-items: center;
}